


.ta_calendar2{*width:536px;}
.ta_calendar1{*width:268px;}
.ta_calendar{
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position:absolute;
	z-index:100;
	overflow: hidden;
	-webkit-background-clip: padding-box; 
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.i_pre,.i_next,.ta_calendar td.ta_dateRangeSelected,.ta_calendar td.first,.ta_calendar td.last,.ta_calendar td.today{
	
	background:url(../images/calendar_all.png) no-repeat;
	cursor:pointer;
}
.i_pre,.i_next{ width:23px; height:24px;display:inline-block; }
.i_pre{ background-position:0 0;}
.i_pre:hover{ background-position:-46px 0px;}
.i_next{ background-position:-23px 0;}
.i_next:hover{ background-position:-69px 0px;}

.ta_calendar td.ta_dateRangeSelected{
	background-position:-164px 2px;
	color:#fff;
}
.ta_calendar td.ta_dateRangeGray{
	color: #BBB;
	cursor: default;
}

.ta_calendar td.first{
	color:#eb6120;
	background-position:-132px 2px;
}
.ta_calendar td.last{
	color:#eb6120;
	background-position:-206px 2px;
}
.ta_calendar td.today{
	color:#fff;
	background-position:-97px 2px;
}
.ta_calendar .dis{
	color:#9e9e9e;
}
.ta_calendar table {
	font-size: 12px;
	float:left;
	margin:0 6px;
	_display:inline;
	border-spacing:0 7px;
	border-collapse:collapse;
}
.ta_calendar table caption{ text-align:center; height:35px; line-height:35px; font-size:14px;padding: 0}
.ta_calendar table thead th {
	line-height: 20px;
	padding: 4px 6px;
	color:#444;
	cursor: pointer;
	text-align:left;
}

.ta_calendar table.calendar-month {
	font-size: 12px;
	float:left;
	margin:0 6px;
	_display:inline;
	border-spacing:7px;
	border-collapse:separate;
	margin-bottom:10px;
}
.calendar-month caption{
	border-bottom:1px solid #E1E1E1;
	*padding-bottom:0px;
}

.calendar-month tbody td {
	line-height: 30px;
	padding: 4px 11px;
	text-align:center;
	white-space:nowrap;
	font-family:"΢���ź�";
	cursor:pointer;
}
.calendar-month td.hover,.calendar-month td:hover,.calendar-month caption span:hover{
	color:#eb6120;
	border:1px solid #eb6120;
	padding: 3px 10px;
	border-radius:2px;
	cursor:pointer;
}
.calendar .dis:hover{
	color:#9e9e9e;
	border:1px solid #d3d5d6;
	padding: 3px 10px;
}
.calendar-month td.current{
	background:#eb6120;
	color:#fff;
	border-radius:2px;
}

.ta_calendar table thead th.sun{border-left: 1px solid #e1e1e1;}
.ta_calendar table thead th.sat{border-right: 1px solid #e1e1e1;}

.ta_calendar table tbody td {
	line-height: 20px;
	padding: 4px 6px;
	text-align:center;
	white-space:nowrap;
	font-family:"Tahoma";
}

.ta_calendar_cont{position:relative;}
.ta_calendar_cont .i_pre,.ta_calendar_cont .i_next{position:absolute; top:7px;}
.ta_calendar_cont .i_pre{left:10px;}
.ta_calendar_cont .i_next{right:10px;}
.ta_calendar_footer{
	border-top:1px solid #e5e5e5;
	background:#fafafa;
	padding-top:6px;
	height:45px;
}
.ta_calendar_footer .frm_btn{
	float:right;
	padding-right:10px;
}
.ta_calendar_footer .frm_btn input{
	margin-left:3px;
}
.ta_calendar_footer .frm_msg{
	float:left;
	padding-left:10px;
	vertical-align:middle;
}
.ta_calendar_footer .ipt_text_s{
	padding:4px 4px;
}

.ta_ipt_text, .ta_ipt_textarea, .ta_ipt_text_s {

	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #333;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	padding: 6px 10px;
	position: relative;
	vertical-align: middle;
	width: 120px;
	z-index: 2;
}

.ta_ipt_text_s {
	width: 100px;
}

.ta_btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-repeat: repeat-x;
	border-color: #CACACA #CACACA #B3B3B3;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0;
	outline: 0 none;
	padding: 3px 12px;
	text-align: center;
}
.ta_btn:hover, .ta_btn:active, .ta_btn.active, .ta_btn.disabled, .ta_btn[disabled] {
	color: #333333;
}
.ta_btn:hover {
	background-color: #FEFEFE;
	background-image: none;
	color: #333333;
	text-decoration: none;
	transition: background-position 0.1s linear 0s;
}
.ta_btn:focus {
	outline: thin dotted #333333;
	outline-offset: -2px;
}
.ta_btn.active, .ta_btn:active {
	background-color: #E6E6E6;
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	outline: 0 none;
}
.ta_btn.disabled, .ta_btn[disabled] {
	background-color: #E6E6E6;
	background-image: none;
	box-shadow: none;
	cursor: default;
	opacity: 0.65;
}
.ta_btn {
	margin: 2px 5px 0 0;
	vertical-align: top;
}
.ta_btn:hover{
	background-position: 0 -16px;
}
.ta_btn_primary {
	background-color: #ea5e13;
	border: 1px solid #ea5e13;
	color: #fff;
}
.ta_btn_primary:hover{
	background-color: #ea5e13;
	
	border: 1px solid #ea5e13;
	color: #FFFFFF;
}

.cf:after {
	clear: both;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}

